<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-08">
  <body data-barba="wrapper">
      <!-- unpkg -->
      <script src="https://unpkg.com/@barba/core"></script>
      
      <!-- jsdelivr -->
      <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
      
      <script src="
        https://cdn.jsdelivr.net/npm/@barba/css@2.1.15/dist/barba-css.umd.min.js
        "></script>
      <script>
        barba.use(barbaCss);
        barba.init({
          transitions: [
            {
              name: 'home',
              beforeOnce() {
                console.log('Before Once')
              },
              once() {
                console.log('Once')
              },
              afterOnce() {
                console.log('After Once')
              },
            }],
        })
      </script>
    <header data-barba="container" class="fade">
    <!-- <main data-barba="container" data-barba-namespace="home"></main> -->
      {% include sidebar.html %}

      <div class="content container">
        {{ content }}
      </div>
    </header>
    <!-- <script type="module" src="js/app.js"></script> -->
  </body>
  </body>
</html>
